@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400;700&display=swap");
html,body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 16px;
height: 100%;
min-width: 600px;
}

* {
  box-sizing: border-box;
}
.page{
  min-height: 100%;
position: relative;
}
/* head */
.r{float: right; width: 9.9%; height: 80px;}
.l{float: left; width: 9.8%; height: 80px;}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  min-height: 70px;
  z-index: 1000;
  background-color: black;
}
.headerbc {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
}
.headerlogo {
  font-family: "Monoton", cursive;
  background-color: #d3b3b8;
  cursor: pointer;
  width: 100px;
  height: 70px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  transition: 1s;
}
.linklog {
  text-decoration: none;
}
.headerlogo:hover {
  background-color: black;
}
.container {
  width: 100%;
  height: 30%;
  margin: 0, auto;

  background-color: #fff;
}
.near {
  color: black;
  text-align: initial;
  display: flex;
  align-items: center;
  cursor: default;
}

/* nav */
.nav-all{
  display: flex;
}
.nav {
  font-size: 14px;
  text-transform: uppercase;
  color: #bbbbbb;
  text-align: center;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #000;
  text-decoration: none;
  transition: color 0.3s linear;
}
.nav__link:hover {
  color: #d5b6ba;
}
.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d5b6ba;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s linear;
}
.nav__link:hover:after {
  opacity: 1;
}

/* icon nav */
.icon {
  color: #000;
  font-size: 20px;
  transition: color 0.1s linear;
  margin: 0 5px;
}
.icon:hover {
  color: #d5b6ba;
}
.icon-nav {
  margin-top: 10px;
  z-index: 1000;
}
/* body */

.intopage > img {
  width: 80%;
  height: 705.4px;

  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.body {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.body-back {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 200px;
  width:  calc(55.3vw - 7px);
  max-height: 700px;
  min-height: 560px;
  background-color: #f7ebed;
  margin-right: 10px;
  height: calc(100vh - 50px);
}
.body-text{
  max-width: 700px;
  max-height: 300px;
  min-width: 350px;
  min-height: 250px;
  text-align: left;
 
}
.img-b{   
  background-image: url(/Свадьба/img/ea9a6d3f1b548cddcfec314301bcc5ff.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: calc(25vw - 22px);
  height: calc(100vh - 50px);
  max-height: 700px ;
  min-height: 560px;
  min-width: 240px;
  }
h2{text-transform: uppercase;}
.span1{ text-transform: uppercase; color: #D3B3B8;}
.content {
  padding-top: 70px;
  padding-bottom: 50px;
}
.body-medium{
display: flex; justify-content: center; margin-top: 10px; margin-bottom:15px ;
}
.body-medium-img1{ /*445px;600px;460px;*/
  background-image: url(/Свадьба/img/left.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: calc(30vw - 105px);
  min-height: 650px;
  max-height:800px;
  max-width: 2130px;
  min-width: 230px;
  height: 700px;}
.body-medium-img2{
  background-image: url(/Свадьба/img/center.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30vw;
  min-height: 650px;
  max-height:800px;
  display: flex;
  justify-content: center;  
  align-items: flex-end;
  margin: 0 10px;
  max-width: 2000px;
  min-width: 266px;
  height: 700px}
.body-medium-img3{
  background-image: url(/Свадьба/img/right.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: calc(30vw - 118px);
  min-height: 650px;
  max-height:800px;
  max-width: 2000px;
  min-width: 245px;
  height: 700px
}
.about_link{
  text-decoration: none;
  text-transform: uppercase;
}


/* foot */
.pfoot {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}
.foot_img {
  display: grid;
  grid-template-areas:
    "a b c"
    "d f m";

  justify-content: center;
}

.pic {
  width: 250px;
  height: 216px;
}
.pic:nth-child(-n + 3) {
  margin-top: 20px;
}
.pic:nth-child(3n) {
  margin-right: 0px;
}
.pic:nth-child(2) {
  margin-left: 4px;
  margin-right: 4px;
}
.pic:nth-child(5) {
  margin-left: 4px;
  margin-right: 4px;
}
.pic:nth-child(+n + 4) {
  margin-top: 3px;
}
/* botton*/
.foot {
  text-align: center;
}
.botton {
  margin: 20px 0 20px 0;
  text-align: center;
  display: inline-block;
  background-color: #fff;
  vertical-align: top;
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  object-position: center;
  border: 2px solid #000;
  text-transform: uppercase;

  transition: color 0.3s linear;
  transition: background-color 0.3s linear;
}
.botton:hover {
  background-color: black;
  color: #fff;
}
/*end*/
.end {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #292325;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.endpage {
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.endspan{color: #d5b6ba; text-decoration: none; opacity: 0.3; display: block; float: inline-end;} 
