@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html{
  background: url(XXX/12.jpg) no-repeat center center fixed;
  background-size: cover;
}
.resume{position: static;}
.resume-a{
text-decoration: none;color: antiquewhite ; font-size: 30px;  display: flex; justify-content: flex-end;
}

#firstbc{
  background: #B6BBD5; margin: 0px;padding: 0px; border: #33536C solid 3px; border-radius: 7px 7px 0px 0px; padding-bottom: 10px;
}
.body {
  
  min-width: 700px;
  background-repeat: repeat;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'Open Sans', sans-serif;}
caption{border: 2px solid #25487E;font-style: italic; font-weight: 700; background-color: #65A1F3;}
table{
  
  margin-left: auto;
  margin-right: auto;
  border: 2px #25487E solid;
  border-collapse: collapse;
  text-align: center;
  font-size: 18px;
  
}
td,th{border: 2px #25487E solid;}
thead{
  background-color:#65A1F3 ;
}
tbody{
  background-color: #D2EDFD;font-style: italic;
}
tfoot{background-color: #D2EDFD; font-style: italic;}  
#Сод{
    margin-left: 30px; border: 1px solid black;
    width: 500px; background-color: #598ABE; border-radius: 0px 50px 0px 50px; box-shadow: #2A3A52 3px 15px 18px 1.1px;;
  
}
#Сод2{font-size: 50px; text-align: center;margin-block-start: 0px;margin-inline-start: 0px;

}
blockquote{
  margin-left: 100px;margin-right: 150px;
}
.divh {
  border-style: solid;
  border-color: #2A3A52;
  background: #82AFDD;
  opacity: 0.8;
  border-radius: 10px;
}
h1 {
  text-decoration: underline; 
  font-size: 100px;
  margin: 0px;
}
h2 {
  margin-left: 70px; margin-bottom: 1px; font-size: 45px; font-weight: 900;
}

h3 {
  text-decoration: underline;
  text-align: center; font-size: 35px;font-style: italic;
}
#first {
  color: #000000;
  text-align: center;
}
p {
    text-align: justify;
    margin-left: 50px;
    font-size: 20px;
    margin-right: 50px;
  }
.PP {
  text-align: justify;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
}

.X :hover {
  font-size: 25px;
}
#zal {
  margin-top: 100px;
}
figure {
  float: right;
}
.img {
  margin-left: 10px;
  border: 1px solid black;
  text-align: right;
  float: right;
}

.X {
  font-size: 20px;
}
#list {
  margin-right: 200px; 
}
li {
  font-size: 18px;
}